

.page-title{
    height: 125px;
    text-align: center;
    font-size: 2.0rem;
    padding: 25px 0px;
    margin-top: 25px;
    
}

.page-title h1{
    outline: thick double #592c22;
    background-color: #BF8F65;

}

.page-title p{
    margin-top: 15px;
}


.trow {
    width: 80%;
    height: 650px;
    margin:auto;
    align-items: center;
    display: flex;
}

.trow-left, .trow-right{
    flex: 0 0 50%;
}

.trow-right h2, .trow-right h4, .trow-right p{
    font-size: 1.675rem;
    line-height: 1.5;
}

.product-pic{
    outline: #572D2D ridge 7px;
    box-shadow: 10px 10px 202px -27px rgba(0,0,0,0.75);

}

.desc-row{
    margin: 15px 0;
}

.related-products-row{
    border: 2px solid black;
    /* text-align: center;
    padding: 25px 0px; */

}

.related-products-row h2{
    text-align: center;
    padding: 15px 0px;

}

.act-products-row{
    border: 2px solid black;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.product-1, .product-2{
    border: 1px solid black;
    text-align: center;
    flex: 0 0 25%;
    padding: 20px;
}

.act-products-row img{
    height: 175px;
    width: 175px;
    outline: black ridge 3px;
    margin-bottom: 10px;
}

